// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default;
$color-primary: #0072aa !default;
$color-secondary: #004b71 !default;
$color-tertiary: #606c76 !default;
$color-quaternary: #333 !default;
$color-quinary: #cccccc !default;
$color-active: #bac9ce !default;
$color-disabled: #a9a9a9 !default;
$color-disabled-light: #cccccc !default;

// Primary Color Palette
// ---------------------

// grays
$color-black: #000;
.color-black {
  color: $color-black;
}
.has-bg-color-black {
  background-color: $color-black;
}
$color-charcoal: #231f20;
.color-charcoal {
  color: $color-charcoal;
}
.has-bg-color-charcoal {
  background-color: $color-charcoal;
}
$color-steel: #333333;
.color-steel {
  color: $color-steel;
}
.has-bg-color-steel {
  background-color: $color-steel;
}
$color-slate: #414042;
.color-slate {
  color: $color-slate;
}
.has-bg-color-slate {
  background-color: $color-slate;
}
$color-pewter: #565656;
.color-pewter {
  color: $color-pewter;
}
.has-bg-color-pewter {
  background-color: $color-pewter;
}
$color-stone: #666666;
.color-stone {
  color: $color-stone;
}
.has-bg-color-stone {
  background-color: $color-stone;
}
$color-smoke: #6d6f71;
.color-smoke {
  color: $color-smoke;
}
.has-bg-color-smoke {
  background-color: $color-smoke;
}
$color-grey: #7f8080;
.color-grey {
  color: $color-grey;
}
.has-bg-color-grey {
  background-color: $color-grey;
}
$color-ash: #999999;
.color-ash {
  color: $color-ash;
}
.has-bg-color-ash {
  background-color: $color-ash;
}
$color-cadet: #a9a9a9;
.color-cadet {
  color: $color-cadet;
}
.has-bg-color-cadet {
  background-color: $color-cadet;
}
$color-silver: #cccccc;
.color-silver {
  color: $color-silver;
}
.has-bg-color-silver {
  background-color: $color-silver;
}

// pale bluish greys
$color-cloud: #cccccc;
.color-cloud {
  color: $color-cloud;
}
.has-bg-color-cloud {
  background-color: $color-cloud;
}
$color-limestone: #e2e2e2;
.color-limestone {
  color: $color-limestone;
}
.has-bg-color-limestone {
  background-color: $color-limestone;
}
$color-fog: #eeeeee;
.color-fog {
  color: $color-fog;
}
.has-bg-color-fog {
  background-color: $color-fog;
}
$color-mist: #f5f5f5;
.color-mist {
  color: $color-mist;
}
.has-bg-color-mist {
  background-color: $color-mist;
}
$color-gunmetal: #627783;
.color-gunmetal {
  color: $color-gunmetal;
}
.has-bg-color-gunmetal {
  background-color: $color-gunmetal;
}
$color-dusk: #7b9ab0;
.color-dusk {
  color: $color-dusk;
}
.has-bg-color-dusk {
  background-color: $color-dusk;
}
$color-willow: #9ab3c2;
.color-willow {
  color: $color-willow;
}
.has-bg-color-willow {
  background-color: $color-willow;
}
$color-frost: #bac9ce;
.color-frost {
  color: $color-frost;
}
.has-bg-color-frost {
  background-color: $color-frost;
}
$color-pearl: #dfe7ea;
.color-pearl {
  color: $color-pearl;
}
.has-bg-color-pearl {
  background-color: $color-pearl;
}

// blues
$color-prussian: #003144;
.color-prussian {
  color: $color-prussian;
}
.has-bg-color-prussian {
  background-color: $color-prussian;
}
$color-midnight: #004b71;
.color-midnight {
  color: $color-midnight;
}
.has-bg-color-midnight {
  background-color: $color-midnight;
}
$color-indigo: #275899;
.color-indigo {
  color: $color-indigo;
}
.has-bg-color-indigo {
  background-color: $color-indigo;
}
$color-opentext-blue: #0072aa;
.color-opentext-blue {
  color: $color-opentext-blue;
}
.has-bg-color-opentext-blue {
  background-color: $color-opentext-blue;
}
$color-ecm-blue: #00a4d8;
.color-ecm-blue {
  color: $color-ecm-blue;
}
.has-bg-color-ecm-blue {
  background-color: $color-ecm-blue;
}
$color-cool: #96d1ef;
.color-cool {
  color: $color-cool;
}
.has-bg-color-cool {
  background-color: $color-cool;
}
$color-sky: #c3e5f6;
.color-sky {
  color: $color-sky;
}
.has-bg-color-sky {
  background-color: $color-sky;
}
$color-ice: #eaf6fc;
.color-ice {
  color: $color-ice;
}
.has-bg-color-ice {
  background-color: $color-ice;
}

// greens
$color-grass: #288552;
.color-grass {
  color: $color-grass;
}
.has-bg-color-grass {
  background-color: $color-grass;
}
$color-bpm-teal: #00a389;
.color-bpm-teal {
  color: $color-bpm-teal;
}
.has-bg-color-bpm-teal {
  background-color: $color-bpm-teal;
}
$color-green: #8cc53e;
.color-green {
  color: $color-green;
}
.has-bg-color-green {
  background-color: $color-green;
}
$color-mint: #e7f1d9;
.color-mint {
  color: $color-mint;
}
.has-bg-color-mint {
  background-color: $color-mint;
}
$color-mint: #e7f1d9;
.color-mint {
  color: $color-mint;
}
.has-bg-color-mint {
  background-color: $color-mint;
}

// oranges
$color-warning: #c95427;
.color-warning {
  color: $color-warning;
}
.has-bg-color-warning {
  background-color: $color-warning;
}
$color-burnt: #f05822;
.color-burnt {
  color: $color-burnt;
}
.has-bg-color-burnt {
  background-color: $color-burnt;
}
$color-analytics-orange: #f37c20;
.color-analytics-orange {
  color: $color-analytics-orange;
}
.has-bg-color-analytics-orange {
  background-color: $color-analytics-orange;
}
$color-sunflower: #ff9f00;
.color-sunflower {
  color: $color-sunflower;
}
.has-bg-color-sunflower {
  background-color: $color-sunflower;
}
$color-sunglow: #ffe99b;
.color-sunglow {
  color: $color-sunglow;
}
.has-bg-color-sunglow {
  background-color: $color-sunglow;
}
$color-sand: #ffffc8;
.color-sand {
  color: $color-sand;
}
.has-bg-color-sand {
  background-color: $color-sand;
}
$color-cream: #fff6da;
.color-cream {
  color: $color-cream;
}
.has-bg-color-cream {
  background-color: $color-cream;
}

// reds
$color-firebrick: #cd3632;
.color-firebrick {
  color: $color-firebrick;
}
.has-bg-color-firebrick {
  background-color: $color-firebrick;
}
$color-red: #df3324;
.color-red {
  color: $color-red;
}
.has-bg-color-red {
  background-color: $color-red;
}
$color-warm-pink: #ecb0ab;
.color-warm-pink {
  color: $color-warm-pink;
}
.has-bg-color-warm-pink {
  background-color: $color-warm-pink;
}
$color-rose: #fae9ea;
.color-rose {
  color: $color-rose;
}
.has-bg-color-rose {
  background-color: $color-rose;
}
$color-rose: #fae9ea;
.color-rose {
  color: $color-rose;
}
.has-bg-color-rose {
  background-color: $color-rose;
}

// purples
$color-cem-purple: #9370b1;
.color-cem-purple {
  color: $color-cem-purple;
}
.has-bg-color-cem-purple {
  background-color: $color-cem-purple;
}
$color-cem-heather: #e5d6e9;
.color-cem-heather {
  color: $color-cem-heather;
}
.has-bg-color-cem-heather {
  background-color: $color-cem-heather;
}

// Secondary Color Palette
// -----------------------

// greys
$color-grey-1: #4c4545;
.color-grey-1 {
  color: $color-grey-1;
}
.has-bg-color-grey-1 {
  background-color: $color-grey-1;
}
$color-grey-2: #7f7373;
.color-grey-2 {
  color: $color-grey-2;
}
.has-bg-color-grey-2 {
  background-color: $color-grey-2;
}

// blues
$color-blue-1: #006190;
.color-blue-1 {
  color: $color-blue-1;
}
.has-bg-color-blue-1 {
  background-color: $color-blue-1;
}
$color-calypso-blue: #376f8d;
.color-calypso-blue {
  color: $color-calypso-blue;
}
.has-bg-color-calypso-blue {
  background-color: $color-calypso-blue;
}
$color-blue-2: #188fe0;
.color-blue-2 {
  color: $color-blue-2;
}
.has-bg-color-blue-2 {
  background-color: $color-blue-2;
}
$color-tidepool: #358092;
.color-tidepool {
  color: $color-tidepool;
}
.has-bg-color-tidepool {
  background-color: $color-tidepool;
}
$color-teal-1: #006353;
.color-teal-1 {
  color: $color-teal-1;
}
.has-bg-color-teal-1 {
  background-color: $color-teal-1;
}
$color-teal-2: #109667;
.color-teal-2 {
  color: $color-teal-2;
}
.has-bg-color-teal-2 {
  background-color: $color-teal-2;
}
$color-teal-3: #00efc9;
.color-teal-3 {
  color: $color-teal-3;
}
.has-bg-color-teal-3 {
  background-color: $color-teal-3;
}
$color-java: #22c8c8;
.color-java {
  color: $color-java;
}
.has-bg-color-java {
  background-color: $color-java;
}

// greens
$color-sea-green: #2C8464;
.color-sea-green {
  color: $color-sea-green;
}
.has-bg-color-sea-green {
  background-color: $color-sea-green;
}
$color-green-1: #314516;
.color-green-1 {
  color: $color-green-1;
}
.has-bg-color-green-1 {
  background-color: $color-green-1;
}
$color-green-2: #52870a;
.color-green-2 {
  color: $color-green-2;
}
.has-bg-color-green-2 {
  background-color: $color-green-2;
}
$color-green-3: #08a61a;
.color-green-3 {
  color: $color-green-3;
}
.has-bg-color-green-3 {
  background-color: $color-green-3;
}
$color-green-4: #cce43c;
.color-green-4 {
  color: $color-green-4;
}
.has-bg-color-green-4 {
  background-color: $color-green-4;
}
$color-green-5: #c0ff6a;
.color-green-5 {
  color: $color-green-5;
}
.has-bg-color-green-5 {
  background-color: $color-green-5;
}
$color-green-6: #c9f093;
.color-green-6 {
  color: $color-green-6;
}
.has-bg-color-green-6 {
  background-color: $color-green-6;
}

// oranges
$color-orange-1: #b85c00;
.color-orange-1 {
  color: $color-orange-1;
}
.has-bg-color-orange-1 {
  background-color: $color-orange-1;
}
$color-tawny-orange: #C35600;
.color-tawny-orange {
  color: $color-tawny-orange;
}
.has-bg-color-tawny-orange {
  background-color: $color-tawny-orange;
}
$color-orange-2: #ff7600;
.color-orange-2 {
  color: $color-orange-2;
}
.has-bg-color-orange-2 {
  background-color: $color-orange-2;
}
$color-discovery-yellow: #eeb111;
.color-discovery-yellow {
  color: $color-discovery-yellow;
}
.has-bg-color-discovery-yellow {
  background-color: $color-discovery-yellow;
}
$color-orange-3: #ffc52c;
.color-orange-3 {
  color: $color-orange-3;
}
.has-bg-color-orange-3 {
  background-color: $color-orange-3;
}
$color-orange-4: #f7e500;
.color-orange-4 {
  color: $color-orange-4;
}
.has-bg-color-orange-4 {
  background-color: $color-orange-4;
}
$color-orange-5: #ffc672;
.color-orange-5 {
  color: $color-orange-5;
}
.has-bg-color-orange-5 {
  background-color: $color-orange-5;
}
$color-ochre: #927219;
.color-ochre {
  color: $color-ochre;
}
.has-bg-color-ochre {
  background-color: $color-ochre;
}

// reds
$color-red-1: #5a1800;
.color-red-1 {
  color: $color-red-1;
}
.has-bg-color-red-1 {
  background-color: $color-red-1;
}
$color-red-2: #8c0a00;
.color-red-2 {
  color: $color-red-2;
}
.has-bg-color-red-2 {
  background-color: $color-red-2;
}
$color-cabaret: #d5386b;
.color-cabaret {
  color: $color-cabaret;
}
.has-bg-color-cabaret {
  background-color: $color-cabaret;
}
$color-red-3: #ff5243;
.color-red-3 {
  color: $color-red-3;
}
.has-bg-color-red-3 {
  background-color: $color-red-3;
}
$color-red-4: #ff857b;
.color-red-4 {
  color: $color-red-4;
}
.has-bg-color-red-4 {
  background-color: $color-red-4;
}
$color-plum-1: #7a183f;
.color-plum-1 {
  color: $color-plum-1;
}
.has-bg-color-plum-1 {
  background-color: $color-plum-1;
}
$color-plum-2: #c23d63;
.color-plum-2 {
  color: $color-plum-2;
}
.has-bg-color-plum-2 {
  background-color: $color-plum-2;
}
$color-plum-3: #a9357c;
.color-plum-3 {
  color: $color-plum-3;
}
.has-bg-color-plum-3 {
  background-color: $color-plum-3;
}

// purples
$color-purple-1: #5a0050;
.color-purple-1 {
  color: $color-purple-1;
}
.has-bg-color-purple-1 {
  background-color: $color-purple-1;
}
$color-iris-purple: #814b92;
.color-iris-purple {
  color: $color-iris-purple;
}
.has-bg-color-iris-purple {
  background-color: $color-iris-purple;
}
$color-purple-2: #79308e;
.color-purple-2 {
  color: $color-purple-2;
}
.has-bg-color-purple-2 {
  background-color: $color-purple-2;
}
$color-purple-3: #ad3ec5;
.color-purple-3 {
  color: $color-purple-3;
}
.has-bg-color-purple-3 {
  background-color: $color-purple-3;
}

// neutrals
$color-neutral-1: #3d4c42;
.color-neutral-1 {
  color: $color-neutral-1;
}
.has-bg-color-neutral-1 {
  background-color: $color-neutral-1;
}
$color-neutral-2: #667f6d;
.color-neutral-2 {
  color: $color-neutral-2;
}
.has-bg-color-neutral-2 {
  background-color: $color-neutral-2;
}
$color-neutral-3: #8fb299;
.color-neutral-3 {
  color: $color-neutral-3;
}
.has-bg-color-neutral-3 {
  background-color: $color-neutral-3;
}
$color-neutral-4: #b29f5b;
.color-neutral-4 {
  color: $color-neutral-4;
}
.has-bg-color-neutral-4 {
  background-color: $color-neutral-4;
}
$color-neutral-5: #b2b27a;
.color-neutral-5 {
  color: $color-neutral-5;
}
.has-bg-color-neutral-5 {
  background-color: $color-neutral-5;
}

// Gradients
// -----------------------
.has-bg-gradient.northern-lights {
  background: rgb(0, 49, 68); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 49, 68, 1) 0%, rgba(0, 49, 72, 1) 10%, rgba(0, 63, 94, 1) 22%, rgba(0, 71, 107, 1) 36%, rgba(0, 74, 112, 1) 52%, rgba(0, 74, 112, 1) 68%, rgba(0, 78, 114, 1) 74%, rgba(0, 88, 119, 1) 80%, rgba(0, 103, 127, 1) 86%, rgba(0, 118, 135, 1) 91%, rgba(0, 152, 153, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 49, 68, 1) 0%, rgba(0, 49, 72, 1) 10%, rgba(0, 63, 94, 1) 22%, rgba(0, 71, 107, 1) 36%, rgba(0, 74, 112, 1) 52%, rgba(0, 74, 112, 1) 68%, rgba(0, 78, 114, 1) 74%, rgba(0, 88, 119, 1) 80%, rgba(0, 103, 127, 1) 86%, rgba(0, 118, 135, 1) 91%, rgba(0, 152, 153, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 49, 68, 1) 0%, rgba(0, 49, 72, 1) 10%, rgba(0, 63, 94, 1) 22%, rgba(0, 71, 107, 1) 36%, rgba(0, 74, 112, 1) 52%, rgba(0, 74, 112, 1) 68%, rgba(0, 78, 114, 1) 74%, rgba(0, 88, 119, 1) 80%, rgba(0, 103, 127, 1) 86%, rgba(0, 118, 135, 1) 91%, rgba(0, 152, 153, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003144', endColorstr='#009899', GradientType=0); /* IE6-9 */
}

.has-bg-gradient.midnight-blue {
  background: #004b71; /* Old browsers */
  background: -moz-linear-gradient(top, #004b71 0%, #00a4d8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #004b71), color-stop(100%, #00a4d8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #004b71 0%, #00a4d8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #004b71 0%, #00a4d8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #004b71 0%, #00a4d8 100%); /* IE10+ */
  background: linear-gradient(to bottom, #004b71 0%, #00a4d8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004b71', endColorstr='#00a4d8', GradientType=0); /* IE6-9 */
}

.has-bg-gradient.sky-blue {
  background: #00a4d8; /* Old browsers */
  background: -moz-linear-gradient(top, #00a4d8 0%, #c3e5f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a4d8), color-stop(100%, #c3e5f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00a4d8 0%, #c3e5f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00a4d8 0%, #c3e5f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00a4d8 0%, #c3e5f6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #00a4d8 0%, #c3e5f6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a4d8', endColorstr='#c3e5f6', GradientType=0); /* IE6-9 */
}

.has-bg-gradient.forest {
  background: rgb(0, 51, 41);
  background: -moz-linear-gradient(-45deg, rgba(0, 51, 41, 1) 0%, rgba(140, 197, 62, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(0, 51, 41, 1) 0%, rgba(140, 197, 62, 1) 100%);
  background: linear-gradient(135deg, rgba(0, 51, 41, 1) 0%, rgba(140, 197, 62, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003329', endColorstr='#8cc53e', GradientType=1);
}

.has-bg-gradient.sunrise {
  background: rgb(150, 40, 0);
  background: -moz-linear-gradient(-45deg, rgba(150, 40, 0, 1) 0%, rgba(238, 177, 17, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(150, 40, 0, 1) 0%, rgba(238, 177, 17, 1) 100%);
  background: linear-gradient(135deg, rgba(150, 40, 0, 1) 0%, rgba(238, 177, 17, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#962800', endColorstr='#eeb111', GradientType=1);
}

.has-bg-gradient.boysenberry {
  background: rgb(54, 0, 67);
  background: -moz-linear-gradient(-45deg, rgba(54, 0, 67, 1) 0%, rgba(193, 72, 132, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(54, 0, 67, 1) 0%, rgba(193, 72, 132, 1) 100%);
  background: linear-gradient(135deg, rgba(54, 0, 67, 1) 0%, rgba(193, 72, 132, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#360043', endColorstr='#c14884', GradientType=1);

}

.has-bg-gradient.oxford-blue {
  background: rgb(1, 10, 56);
  background: -moz-linear-gradient(-45deg, rgba(1, 10, 56, 1) 0%, rgba(22, 133, 177, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(1, 10, 56, 1) 0%, rgba(22, 133, 177, 1) 100%);
  background: linear-gradient(135deg, rgba(1, 10, 56, 1) 0%, rgba(22, 133, 177, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#010a38', endColorstr='#1685b1', GradientType=1);
}
