// Forms
// ––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input:not([type]),
textarea,
select {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #757575;
  height: 2.5em;
  appearance: none; // Removes awkward default styles on some inputs for iOS
  box-shadow: none;
  box-sizing: inherit; // Forced to replace inherit values of the normalize.css
  width: 100%;
  color: #333333;
  padding: 0 0.5em;
  margin-bottom: 1em;

  &:focus {
    border: 2px solid #666;
    height: 2.75em;
    outline: 0;
  }

  &[disabled] {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
  }

  &.has-errors {
    background-color: #fae9ea;
    border: 1px solid #df3324;
  }

  &::-webkit-input-placeholder {
    font-style: italic;
    color: #666666;
  }
  &:-moz-placeholder {
    font-style: italic;
    color: #666666;
  }
  &::-moz-placeholder {
    font-style: italic;
    color: #666666;
  }
  &:-ms-input-placeholder {
    font-style: italic;
    color: #666666;
  }
}

input[disabled] {
  color: #666666;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
  padding-right: 3.0em;
  &:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23666666" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  }
}

textarea {
  font-family: inherit;
  min-height: 6.5rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

label,
legend {
  display: block;
  margin-bottom: .5em;
  color: #757575;
  font-size: 0.875em;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'] {
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 1px solid #cacece;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  top: 6px;

  &:checked:active, &:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  &:checked {
    background-color: #666;
    border-color: #666;
  }
  &:checked:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

input[type=radio] {
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 1px solid #cacece;
  padding: 8px;
  border-radius: 100%;
  display: inline-block;
  position: relative;

  &:checked:active, &:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  &:checked {
    background-color: #666;
    border-color: #666;
  }
  &:checked:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 3px solid #fff;
    border-radius: 100%;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:checked:disabled {
    background-color: #aaa;
    border-color: #aaa;
    cursor: not-allowed;
  }
}

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

.has-error-message {
  font-size: 0.75em;
  color: #df3324;
}

.field-group {
  margin-left: 1em;
}

